<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link to compiled Tailwind CSS file -->
    <link rel="stylesheet" href="output.css">
</head>
<body class="body-container">
    <h1 class="h1">Welcome to the F1 Overview!</h1>
    <p>Click on the buttons to view the current Stats Overviews.</p>
    <!-- Link to compiled Tailwind CSS file -->
    <div class="flex gap-20">
        <form action="/drivers">
            <button class="button-primary">Drivers Overview</button>
        </form>
        <form action="/teams">
            <button class="button-primary">Teams Overview</button>
        </form>
    </div>
</body>
</html>