<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the F1 Overview!</h1>
    <p>Click on the buttons to view the current Stats Overviews.</p>
    <form action="/drivers" method="GET">
        <button type="submit">Drivers</button>
    </form>
    <form action="/teams" method="GET">
        <button type="submit">Teams</button>
    </form>
</body>
</html>